ENVIRONMENT=local

HTTP_ADDR=:8080
HTTP_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=60s

LOGGER_LEVEL=info
LOGGER_PRETTY_CONSOLE=true

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

JWT_SECRET=a04f51bf1ba69f43829b52de98540d2fb4066814364a48374397ef54487b9b22
JWT_TOKEN_TTL=30m

REFRESH_TOKEN_TTL=24h

KAFKA_WRITER_ADDR=:9092
KAFKA_CONSUMER_ADDR=:9092
KAFKA_CONSUMER_ON_TRAIN_TOPIC=on-train
KAFKA_CONSUMER_AFTER_TRAIN_TOPIC=after-train
KAFKA_CONSUMER_ON_TRAIN_GROUP=on-train-group
KAFKA_CONSUMER_AFTER_TRAIN_GROUP=after-train-group