ENVIRONMENT=local

HTTP_ADDR=:8080
HTTP_PORT=8080
HTTP_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=15s

LOGGER_ENVIRONMENT=local
LOGGER_LEVEL=debug

AUTH_POSTGRES_DB=
AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_PORT=
AUTH_POSTGRES_TIMEOUT=5s

TASKS_POSTGRES_DB=
TASKS_POSTGRES_USER=
TASKS_POSTGRES_PASSWORD=
TASKS_POSTGRES_PORT=
TASKS_POSTGRES_TIMEOUT=5s

JWT_SECRET=some-secret
JWT_TOKEN_TTL=30m

REFRESH_TOKEN_TTL=24h

KAFKA_PORT=9094

REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REDIS_WRITE_TIMEOUT=3s
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNECTIONS=5
REDIS_POOL_TIMEOUT=4s